{% extends "base.html" %}

{% block title %} blog article {% endblock %}

{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1> {{ article.title }}</h1>
</div>

<div class="row">
    <div class="col-xs-12 col-md-8">
        <p class="text-center">
            <span>作者：{{ article.author.username }}</span>
            <span style="margin-left: 20px">发布时间：{{ publish }}</span>
        </p>
        <div>{{ article.body }}</div>
    </div>
<div class="col-xs-6 col-md-4">
    <h2>广告</h2>
    <p>跟老崔学：www.laocui.com</p>
{#    <img width="200px" src="http://www.mrwalpaper.com/wallpapers/Fluffy-Cat.jps">#}
</div>
</div>
{% endblock %}